@use "../Index/Variables" as *;

#QA .container {
  flex-direction: column;
  gap: $gap-large-mobile;

  @media (min-width: 47.938rem) {
    & {
      gap: $gap-large-tablet;
      width: 80%;
    }
  }
}

#QA {
  background-color: $color-primary-1000;

  h2 {
    background: linear-gradient(
      271.72deg,
      $color-primary-emphasis-text 7.09%,
      $color-primary-400 96.61%
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: $gap-base-mobile;

    li {
      display: flex;
      flex-direction: column;
      gap: $gap-small-mobile;
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: $gap-small-mobile;
  }

  .title {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: $gap-small-mobile;

    i {
      background: linear-gradient(
        271.72deg,
        $color-primary-emphasis-text 7.09%,
        $color-primary-400 96.61%
      );
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      transition: $transition;
    }
  }

  p {
    opacity: 0;
    height: 0;
    width: 95%;
    margin: 0 auto;
    overflow: hidden;
    transition: $transition;

    a {
      color: $color-primary-emphasis-text;
      width: auto;
    }
  }

  hr {
    background-color: $color-primary-050;
  }

  @media (min-width: 47.938rem) {
    ul {
      gap: $gap-large-tablet;
    }

    .content,
    .title {
      gap: $gap-small-tablet;
    }
  }
  @media (min-width: 61.188rem) {
    .content,
    .title {
      gap: $gap-small-laptop;
    }
  }
}
