@use '../Variables' as *;
@use '../Functions' as *;

.container {
    max-width: toRem(1230);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: $gap-x-large-mobile 0;

    /* Tablet */
    @media only screen and (min-width: 47.938rem) {
      & {
        padding-top: $gap-x-large-tablet;
        padding-bottom: $gap-x-large-tablet;
      }
    }
    /* Laptop */
    @media only screen and (min-width: 61.188rem) {
        & {
            padding-top: $gap-x-large-laptop;
            padding-bottom: $gap-x-large-laptop;
        }
    }
    /* Desktop */
    @media only screen and (min-width: 80rem) {
        & {
            padding-top: $gap-x-large-desktop;
            padding-bottom: $gap-x-large-desktop;
            width: 100%;
          }
    }

}