@use '../Index/Variables' as *;
@use '../Index/Functions' as *;

#CreateEvent {
    flex-direction: column;
    gap: $gap-x-large-tablet;

    fieldset {
        width: 100%;

        ul {
            li {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: $gap-base-mobile;

                textarea, input {
                    text-align: center; 
                    color: $color-primary-600; 
                    text-transform: uppercase;
                    font-weight: $font-weight-bold;
                    font-size: toRem(20);
                    transition: $transition;

                    &::placeholder {
                        color: $color-primary-600;
                        transition: $transition;
                    }

                    &:hover, &:focus, &:not(:placeholder-shown) { color: $color-primary-emphasis-text; }

                    &:hover::placeholder { color: $color-primary-emphasis-text; }

                    &:focus::placeholder { opacity: 0 }

                    &[name='page'] {
                        grid-column: span 2;
                        font-size: toRem(28);
                    }
                }

                input {
                    &[type="checkbox"] {
                        background-color: transparent;                  
                        color: $color-primary-600;
                        border: toRem(3) solid $color-primary-600;
                        border-radius: toRem(3);
                        padding: toRem(7.5) toRem(15);
                        grid-column: span 2;
                        width: fit-content;
                        justify-self: center;
    
                        &::before {
                            content: "Multiple Date";
                            transition: $transition;
                        }
    
                        &:checked {
                            border-color: $color-primary-emphasis-text;
                            background-color: $color-primary-emphasis-text;
    
                            &::before { color: $color-primary-900; }
                        }
                    }

                    &[type="date"], &[type="time"] {
                        width: fit-content;
                        color: $color-primary-600;

                        &.active { color: $color-primary-emphasis-text; }
                    }

                    &[type="date"] { text-align: left; }
                }

                section {
                    display: grid;            
                    grid-template-columns: 1fr 1fr;             
                    gap: $gap-large-mobile $gap-base-mobile;
                    background-color: $color-primary-900;
                    border-radius: toRem(5);
                    padding: toRem(30) toRem(20);

                    &:has(#DateTime div:last-child:not(.hide)) #DateTime { gap: $gap-base-mobile }

                    #DateTime {
                        grid-column: span 2;
                        display: grid;
                        transition: $transition;

                        div {
                            display: flex;
                            justify-content: center;
                            transition: $transition;
                        }
                    }
                }

                ul {
                    display: grid;
                    background-color: $color-primary-800;
                    padding: toRem(20);
                    border-radius: toRem(5);
                    li {
                        display: grid;
                    }
                }
            }
        }

        button {
            position: fixed;
            bottom: toRem(40);
            right: toRem(40);
            width: toRem(40);
            height: toRem(40);
            display: flex;
            align-items: center;
            justify-content: center;
            white-space: nowrap;
            overflow: hidden;
            transition: $transition;
            border-radius: toRem(5);

            &::before {
                color: $color-primary-1100;
                content: '';
            }

            &::after {
                font-family: 'Font Awesome 6 Free';
                color: $color-primary-emphasis-text;
                font-size: toRem(32);
                content: '\f152';
            }

            &:hover {
                width: toRem(160);
                background-color: $color-primary-emphasis-text;

                &::before { content: 'crear evento'; }
                &::after { content: ''; }
            }
        }
    }

}