@use '../Index/Variables' as *;
@use '../Index/Functions' as *;

#Pricing .container {
    display: grid;
    gap: $gap-x-large-mobile;

    /* Laptop */
    @media only screen and (min-width: 61.188rem) {
        & { grid-template-columns: 1fr 1fr 1fr; }
    }
}

#Pricing { 
    background-color: $color-white; 

    /* Cards */
    article {
        border-radius: $gap-base-mobile;
        padding: $gap-x-large-mobile $gap-base-mobile;
        outline: toRem(3) solid transparent; 
        text-align: center;
        width: 100%;
        min-height: toRem(500); 
        transition: $transition;

        &:hover { transform: scale(1.03); }

        &#Free { 
            background-color: $color-gray-100;
            box-shadow: 0 0 toRem(30) toRem(1) $color-gray-500;
            color: $color-gray-600;

            &:hover { outline-color: $color-gray-500; }

            ::selection { 
                background-color: $color-gray-600;
                color: $color-gray-100; 
            } 

            header button:hover { background-color: $color-gray-100; }        
        }

        &#Basic { 
            background-color: $color-white;
            box-shadow: 0 0 toRem(30) toRem(1) $color-gray-600;
            color: $color-gray-1000;

            &:hover { outline-color: $color-gray-600; }

            ::selection { 
                background-color: $color-gray-1000;
                color: $color-white; 
            }

            header button:hover { 
                color: $color-white;
                background-color: $color-gray-1000; 
            }
        }

        &#Premium { 
            position: relative;
            overflow: hidden;
            box-shadow: 0 0 toRem(30) toRem(1) $color-primary-600;
            background-image: radial-gradient(circle, $color-primary-600 0%, $color-primary-600 48%, $color-primary-500 85%, $color-primary-500 98%);
            color: $color-primary-emphasis-text;

            &:hover { 
                outline-color: $color-primary-900; 
            
                &::before{
                    background: $color-white;
                    margin-left: 400%;
                }
            }

            /* Efect Bright */
            &:before {
                content: " ";
                width: 25%;
                height: 200%;
                background: $color-primary-050;
                position: absolute;
                top: -50%;
                left: -130%;
                transform: rotate(45deg);
                transition: $transition;  
            }
        
            header button:hover { 
                color: $color-primary-500;
                background-color: $color-white;
                border-color: $color-white;
            }
        }
       
        header {
            h2 { transition: $transition; }

            p { 
                font-size: toRem(14); 
                margin: $gap-small-mobile 0;
                transition: $transition;

                /* Tablet and above */
                @media only screen and (min-width: 47.938rem)  {
                    & { font-size: toRem(16); } 
                }
            }

            ul {
                display: flex;
                justify-content: center;
                align-items: baseline;

                .fees { 
                    font-size: toRem(14);
                    align-self: flex-start;
                    font-weight: $font-weight-light;
                    
                    /* Tablet and above */
                    @media only screen and (min-width: 47.938rem)  {
                        & { font-size: toRem(16); }
                    }
                }

                .amount {
                    font-weight: $font-weight-bold;
                    font-size: $font-size-title-large-mobile-min;
                }

                .currency {
                    font-weight: $font-weight-bold;
                    margin: $gap-tiny-mobile $gap-x-small-mobile $gap-tiny-mobile $gap-tiny-mobile;
                }
            }

            button {
                color: inherit;
                padding: $gap-small-mobile 0;
                border-radius: $gap-x-small-mobile;
                border: toRem(1) solid;
                border-color: inherit;
                margin: $gap-base-mobile 0;
                transition: $transition;
            }
        }

        // Features 
        section ul {
            display: flex;
            flex-direction: column;
            gap: $gap-medium-mobile;
            text-align: left;

            li {
                display: flex;
                align-items: center;
                gap: $gap-x-small-mobile;

                i { 
                    font-size: $gap-tiny-mobile; 

                    /* Tablet and above */
                    @media only screen and (min-width: 47.938rem) {
                        & { font-size: $gap-tiny-tablet; }
                    }
                }

                /* Tablet and above */
                @media only screen and (min-width: 47.938rem) {
                    & { gap: $gap-x-small-tablet; }
                }
            }

            /* Tablet and above */
            @media only screen and (min-width: 47.938rem) {
                & { gap: $gap-medium-tablet; }
            }
        }

        /* Mobile and Tablet */
        @media only screen and (min-width: 30rem) and (max-width:61.188rem) {
            & { width: toRem(350); }
        }
        /* Laptop and above */
        @media only screen and (min-width: 61.188rem) {
            & { 
                width: auto; 
                max-width: toRem(350);
            }   
        }
    }
}
