#Dashboard {
  flex-direction: column;
  justify-content: flex-start;
  gap: 5rem;
  height: 100vh;
}
#Dashboard section {
  display: grid;
  gap: 3rem;
  width: 100%;
}
#Dashboard section table {
  display: grid;
}
#Dashboard section table thead {
  background-color: hsl(180, 100%, 12%);
}
#Dashboard section table thead tr {
  position: relative;
  grid-template-columns: auto 1fr 1fr 1fr;
  align-items: center;
  border-color: rgba(255, 255, 255, 0.8);
}
#Dashboard section table thead tr:hover {
  border-color: rgb(255, 255, 255);
}
#Dashboard section table thead tr i {
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.5s ease;
}
#Dashboard section table thead tr i:hover {
  color: rgba(255, 255, 255, 0.8);
}
#Dashboard section table thead tr i.fa-trash-can {
  color: white;
  position: absolute;
  right: 2.5rem;
}
#Dashboard section table thead tr i.fa-trash-can:hover {
  color: #c40040;
}
#Dashboard section table thead tr th {
  display: flex;
  align-items: center;
  padding: 1.25rem 0 1.25rem 0.3125rem;
  gap: 1.25rem;
  width: fit-content;
  /* Tablet and above */
}
@media only screen and (min-width: 47.938rem) {
  #Dashboard section table thead tr th {
    padding: 1.25rem;
  }
}
#Dashboard section table thead tr th:hover input, #Dashboard section table thead tr th:hover input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}
#Dashboard section table thead tr th input {
  color: rgb(255, 255, 255);
  border-bottom: 0.0625rem solid transparent;
  text-transform: uppercase;
  transition: 0.5s ease;
}
#Dashboard section table thead tr th input:focus, #Dashboard section table thead tr th input:not(:placeholder-shown) {
  border-color: hsl(180, 100%, 50%);
}
#Dashboard section table thead tr th input::placeholder {
  color: rgb(255, 255, 255);
  transition: 0.5s ease;
  font-weight: 700;
}
#Dashboard section table thead tr th .sort {
  display: flex;
  flex-direction: column;
  gap: 0.3125rem;
  min-width: 0.625rem;
}
#Dashboard section table thead tr th .sort i {
  color: rgba(255, 255, 255, 0.5);
  transition: 0.5s ease;
  cursor: pointer;
}
#Dashboard section table thead tr th .sort i:hover {
  color: rgba(255, 255, 255, 0.8);
}
#Dashboard section table thead tr th .sort i .active {
  color: rgb(255, 255, 255);
}
#Dashboard section table thead tr span {
  position: absolute;
  right: 0;
  top: -3.125rem;
  background-color: #b00038;
  padding: 0.46875rem 0.625rem;
  border-radius: 0.125rem;
  cursor: pointer;
  transition: 0.5s ease;
}
#Dashboard section table thead tr span:hover {
  background-color: #c40040;
}
#Dashboard section table tbody {
  background-color: hsl(180, 100%, 9%);
}
#Dashboard section table tbody tr {
  border-bottom: 0.0625rem solid hsl(180, 100%, 7%) !important;
}
#Dashboard section table tbody tr:hover {
  background-color: hsl(180, 100%, 6%);
}
#Dashboard section table tbody tr:hover .details {
  height: auto;
  padding-bottom: 0.625rem;
  opacity: 1;
}
#Dashboard section table tfoot {
  background-color: hsl(180, 100%, 7%);
}
#Dashboard section table tfoot:hover .details {
  height: auto;
  padding-bottom: 0.625rem;
  opacity: 1;
}
#Dashboard section table tfoot tr:hover {
  background-color: hsl(180, 100%, 6%);
}
#Dashboard section table tr {
  padding: 0 1.25rem;
  border-left: 0.1875rem solid transparent;
  transition: 0.5s ease;
  display: grid;
}
#Dashboard section table tr .data {
  display: grid;
  grid-template-columns: auto 1fr 1fr 1fr;
  align-items: center;
}
#Dashboard section table tr .data i {
  transition: 0.5s ease;
  cursor: pointer;
}
#Dashboard section table tr .data td {
  padding: 1.25rem 0 1.25rem 0.3125rem;
  min-height: 4.0625rem;
  transition: 0.5s ease;
  display: flex;
  align-items: center;
  /* Tablet and above */
}
@media only screen and (min-width: 47.938rem) {
  #Dashboard section table tr .data td {
    padding: 1.25rem;
  }
}
#Dashboard section table tr .data td:last-child {
  display: flex;
  justify-content: space-between;
}
#Dashboard section table tr .data td a {
  transition: 0.5s ease;
}
#Dashboard section table tr .data td p {
  font-weight: 600;
}
#Dashboard section table tr .details {
  width: 100%;
  padding: 0 1.25rem 0 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  height: 0;
  overflow: hidden;
  transition: height 0.25s ease, padding-bottom 0.5s ease, opacity 1s ease;
  opacity: 0;
}
#Dashboard section table tr .details span {
  text-transform: none;
  margin: 0;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  align-items: center;
}
#Dashboard section table tr .details .message {
  gap: 0.75rem;
}
#Dashboard section table tr .details i {
  opacity: 0.7;
}
#Dashboard section table tr .details div {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 0.25rem;
  /* Tablet and above */
}
@media only screen and (min-width: 47.938rem) {
  #Dashboard section table tr .details div {
    flex-direction: row;
  }
}
#Dashboard section table tr .details div span {
  justify-content: flex-end;
  gap: 0.25rem;
}
#Dashboard section table .loading-data {
  color: transparent !important;
  background-color: hsl(180, 100%, 20%);
  border-radius: 0.25rem;
  animation: pulse 1.5s infinite;
  height: fit-content;
}
@keyframes pulse {
  0% {
    background-color: hsl(180, 100%, 20%);
  }
  50% {
    background-color: hsl(180, 100%, 27.5%);
  }
  100% {
    background-color: hsl(180, 100%, 20%);
  }
}
#Dashboard section .pagination {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
#Dashboard section .pagination nav {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 1.5rem;
}
#Dashboard section .pagination nav ul {
  display: flex;
  gap: 0.5rem;
}
#Dashboard section .pagination nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 0.375rem;
  transition: 0.5s ease;
}
#Dashboard section .pagination nav ul li[data-valid=true] {
  cursor: pointer;
}
#Dashboard section .pagination nav ul li[data-valid=true]:hover {
  transform: scale(1.05);
  background-color: #003333;
}
#Dashboard section .pagination nav ul li[data-valid=true][data-active=true] {
  background-color: #006666;
}
#Dashboard section .pagination nav ul li[data-valid=true][data-active=true]:hover {
  background-color: #007777;
}
#Dashboard section .pagination nav i {
  cursor: pointer;
  transition: 0.5s ease;
}
#Dashboard section .pagination nav i:first-child:hover {
  translate: -0.09375rem 0;
}
#Dashboard section .pagination nav i:last-child:hover {
  translate: 0.09375rem 0;
}
#Dashboard section .pagination span {
  color: rgba(255, 255, 255, 0.8);
  text-transform: none;
}
#Dashboard .no-dashboard {
  font-size: 2.125rem;
  font-weight: 700;
}

#ControlPanel {
  background-color: #001111;
}