@charset "UTF-8";
/* Predefined Settings */
@import '~normalize.css/normalize.css';
::selection {
  background-color: #007777;
  color: #aaffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Condensed";
  color: #f2f2f7;
}

h1, h2, h3, span, a, button {
  text-transform: uppercase;
}

h1 {
  font-size: clamp(1.9375rem, 5vw, 2.125rem);
  font-weight: 800;
  letter-spacing: 0.0625rem;
  margin: 0;
}

h2 {
  font-size: clamp(1.3125rem, 4.5vw, 1.875rem);
  font-weight: 700;
  letter-spacing: 0.03125rem;
}

h3 {
  font-size: clamp(1rem, 4vw, 1.25rem);
  font-weight: 600;
  letter-spacing: 0.00625rem;
}

p, span, a, button, i {
  font-size: 1rem;
  letter-spacing: 0.0125rem;
}

p {
  font-weight: 300;
}

span {
  font-weight: 400;
}

a, button {
  font-weight: 700;
}

@media only screen and (min-width: 47.938rem) and (max-width: 61.188rem) {
  h1 {
    font-size: clamp(2.0625rem, 4.5vw, 2.25rem);
  }
  h2 {
    font-size: clamp(1.5625rem, 4vw, 2rem);
  }
  h3 {
    font-size: clamp(1.125rem, 3.5vw, 1.5rem);
  }
  p, span, a, button, i {
    font-size: 1.0625rem;
  }
}
@media only screen and (min-width: 61.188rem) and (max-width: 80rem) {
  h1 {
    font-size: clamp(2.25rem, 4vw, 2.5rem);
  }
  h2 {
    font-size: clamp(1.6875rem, 3.5vw, 2.1875rem);
  }
  h3 {
    font-size: clamp(1.25rem, 3vw, 1.625rem);
  }
  p, span, a, button, i {
    font-size: 1.125rem;
  }
}
@media only screen and (min-width: 80rem) {
  h1 {
    font-size: clamp(2.3125rem, 3.5vw, 2.625rem);
  }
  h2 {
    font-size: clamp(1.8125rem, 3vw, 2.25rem);
  }
  h3 {
    font-size: clamp(1.375rem, 2.5vw, 1.75rem);
  }
  p, span, a, button, i {
    font-size: 1.125rem;
  }
}
ul, ol {
  list-style: none;
}

a {
  display: inline-block;
  width: 100%;
  text-decoration: none;
  color: #f2f2f7;
}

a, button, select {
  cursor: pointer;
  font-weight: 700;
}

input, button, textarea, select {
  border: none;
  outline: none;
  background: none;
  width: 100%;
}

/* clears the ‘X’ from Internet Explorer */
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* clears the ‘X’ from Chrome */
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

img, video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

fieldset {
  border: none;
  padding: 0;
}

.hide {
  opacity: 0;
  pointer-events: none;
  width: 0;
  height: 0;
  overflow: hidden;
}

.container {
  max-width: 76.875rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 4rem 0;
  /* Tablet */
  /* Laptop */
  /* Desktop */
}
@media only screen and (min-width: 47.938rem) {
  .container {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
@media only screen and (min-width: 61.188rem) {
  .container {
    padding-top: 7rem;
    padding-bottom: 7rem;
  }
}
@media only screen and (min-width: 80rem) {
  .container {
    padding-top: 8rem;
    padding-bottom: 8rem;
    width: 100%;
  }
}

@property --backgroundColor1 {
  syntax: "<color>";
  initial-value: #003333;
  inherits: false;
}
@property --backgroundColor2 {
  syntax: "<color>";
  initial-value: #002222;
  inherits: false;
}
#footer {
  background: linear-gradient(to bottom, var(--backgroundColor1), var(--backgroundColor2));
  box-shadow: 0 0 6.25rem 0 #002222;
  padding: 1.5rem 5%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  transition: --backgroundColor1 0.5s ease, --backgroundColor2 0.5s ease, box-shadow 0.5s ease;
  /* Links */
  /* Copyright */
  /* Tablet */
  /* Laptop */
  /* Desktop */
}
#footer:hover {
  --backgroundColor1: #002222;
  --backgroundColor2: #001111;
  box-shadow: 0 0 6.25rem 0 #001111;
}
#footer ul {
  display: flex;
}
#footer ul li {
  margin: 0.5rem 0;
}
#footer ul a {
  padding: 0.5rem 1rem;
  color: #bddede;
  transition: 0.5s ease;
}
#footer ul a:hover {
  color: #ffffff;
}
#footer ul a:hover i {
  color: #ffffff;
}
#footer span {
  padding: 0.5rem 1rem;
  color: #bddede;
  transition: 0.5s ease;
}
#footer span:hover {
  color: #ffffff;
}
@media only screen and (min-width: 47.938rem) {
  #footer {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
  #footer li {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
  }
  #footer a, #footer span {
    padding: 0.75rem 1.25rem;
  }
}
@media only screen and (min-width: 61.188rem) {
  #footer {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    flex-direction: row;
    gap: 0;
  }
  #footer ul {
    gap: 1.5rem;
  }
  #footer ul li {
    margin: 0;
  }
  #footer ul li a {
    padding: 0;
  }
  #footer span {
    padding: 0;
  }
}
@media only screen and (min-width: 80rem) {
  #footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  #footer ul {
    gap: 2rem;
  }
}